# General Settings
PUID=
PGID=1
TZ=America/New_York
UMASK=

# Cloudflare Tunnel Token
CLOUDFLARE_TUNNEL_TOKEN=

# Base Paths
APPDATA_PATH=/mnt/cache/appdata
TORRENTS_PATH=/mnt/user/data/torrents
MOVIES_PATH=/mnt/user/data/media/movies